# Testing for imdb tools

## Import and creating class instance

In [1]:
import numpy as np
import re
import urllib.request as req 
import tarfile
import os
import zipfile
from collections import defaultdict

#new ones
import gzip
import csv
import pandas as pd
from imdb import IMDb
import re

## Testing

In [2]:
#URLs for data bases

name_basics_url = 'https://datasets.imdbws.com/name.basics.tsv.gz'

titles_akas_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'

title_basics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'

title_crew_url = 'https://datasets.imdbws.com/title.crew.tsv.gz'

title_episode_url = 'https://datasets.imdbws.com/title.episode.tsv.gz'

title_principals_url = 'https://datasets.imdbws.com/title.principals.tsv.gz'

title_ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

In [3]:
# Creating list of URLs needed for this analyisis

list_urls = [title_basics_url, title_crew_url, title_ratings_url, title_principals_url, name_basics_url]

In [4]:
# # Creating folders to store data

# save_filename = 'title.basics.tsv.gz'
# imdb_folder = 'data'
# tsv_filename = 'title_basics.tsv'

# if not os.path.exists(save_filename):
#     req.urlretrieve(title_basics_url, save_filename)
    

# if not os.path.exists(imdb_folder):
#     os.mkdir(imdb_folder) 
#     with gzip.GzipFile(save_filename) as tsv:
#         tsv_read = pd.read_csv(tsv, sep='\t')
        

# if not os.path.exists(imdb_folder + '/'+ tsv_filename):
#     with open(imdb_folder + '/'+ tsv_filename,'w') as write_tsv:
#         write_tsv.write(tsv_read.to_csv(sep='\t', index=False))

In [5]:
def download_data(url): #Downloads and creates directories in the same directory as the file is located

    save_filename = re.split(pattern = '.com\/', string = url)[1]
    imdb_folder = 'data'
    tsv_filename = re.split(pattern = '.gz', string = save_filename)[0]
    # print(tsv_filename)

    if not os.path.exists(save_filename):
        req.urlretrieve(url, save_filename)
    

    if not os.path.exists(imdb_folder):
        os.mkdir(imdb_folder) 
        
            

    if not os.path.exists(imdb_folder + '/'+ tsv_filename):
        with gzip.GzipFile(save_filename) as tsv:
            tsv_read = pd.read_csv(tsv, sep='\t')
            with open(imdb_folder + '/'+ tsv_filename,'w') as write_tsv:
                write_tsv.write(tsv_read.to_csv(sep='\t', index=False))
                return tsv_read

    else:
         with gzip.GzipFile(save_filename) as tsv:
            tsv_read = pd.read_csv(tsv, sep='\t')
            return tsv_read

In [6]:
def kickstart_scrape(list_ = list_urls):
    list_tsv__df =[]
    for url in list_:
        print(url)
        list_tsv__df.append(download_data(url))
    return list_tsv__df

In [7]:
list_df = kickstart_scrape(list_urls)

https://datasets.imdbws.com/title.basics.tsv.gz
https://datasets.imdbws.com/title.crew.tsv.gz
https://datasets.imdbws.com/title.ratings.tsv.gz
https://datasets.imdbws.com/title.principals.tsv.gz
https://datasets.imdbws.com/name.basics.tsv.gz

In [8]:
list_df[0]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,\N
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,\N
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,\N
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,\N
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,\N
...,...,...,...,...,...,...,...,...,...
6591668,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,\N
6591669,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,\N
6591670,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,\N
6591671,tt9916856,short,The Wind,The Wind,0,2015,\N,27,\N
6591672,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,\N

In [9]:
def tt_idnum_plus(tsv_df, start_year = 2018, end_yead = 2019, list_col = ['tconst']):
    df_ = tsv_df[(tsv_df['startYear'].apply(lambda x: int(x) if x != '\\N' else 0) >= start_year) & (tsv_df['startYear'].apply(lambda x: int(x) if x != '\\N' else 0) <= end_yead) & (tsv_df['titleType'] == 'movie')][list_col]
    return df_

In [10]:
df_idnum = tt_idnum_plus(list_df[0])
df_idnum

            tconst
67690    tt0069049
67836    tt0069204
109009   tt0111414
114407   tt0116991
164986   tt0170651
...            ...
6591324  tt9916132
6591338  tt9916160
6591343  tt9916170
6591468  tt9916428
6591521  tt9916538

[33085 rows x 1 columns]

In [22]:
df_idnum = pd.DataFrame(df_idnum['tconst'].apply(lambda x: x.replace('tt','')))
df_idnum.to_csv('df_idnum.csv', index_label='og_index')
df_idnum

          tconst
67690    0069049
67836    0069204
109009   0111414
114407   0116991
164986   0170651
...          ...
6591324  9916132
6591338  9916160
6591343  9916170
6591468  9916428
6591521  9916538

[33085 rows x 1 columns]

In [121]:
# import multiprocessing

# pool = multiprocessing.Pool()

# imdb_data = pool.map(kickstart_api, df_idnum['tconst'])

In [24]:
import dask.array as da
import dask.dataframe as dd
from dask.distributed import Client
from dask import delayed

client = Client(n_workers=4) #, processes = False)

# dask_df_idnum = dd.read_csv('df_idnum.csv',blocksize=.8e6)

dask_creator_idnum = kickstart_api(df_idnum['tconst'])

dask_df_idnum = dask_creator_idnum.compute()

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [9]:
dask_df_idnum

Dask DataFrame Structure:
              og_index tconst
npartitions=4
                 int64  int64
                   ...    ...
                   ...    ...
                   ...    ...
                   ...    ...
Dask Name: from-delayed, 12 tasks

In [10]:
%%time
df_idnum = dask_df_idnum.compute()

CPU times: user 81.9 ms, sys: 30.3 ms, total: 112 ms
Wall time: 83.5 ms

In [15]:
df_idnum.head()['tconst']

16664    0016906
63063    0064322
67690    0069049
67836    0069204
98085    0100275
Name: tconst, dtype: object

In [13]:
from dask.distributed import Client, progress
client = Client(n_workers=4) #, process = False)
client

In [16]:
df_idnum['data_from_imdb_module'] = df_idnum['tconst'].apply(kickstart_api)

TypeError: 'int' object is not iterable

In [14]:
def iterating_pull(id_series):  

    for i, id in enumerate(id_series):
        print(i)

        ia = IMDb()
        m_ = ia.get_movie(id)

        return pull_data(movie = m_, keys_need = k_n)

        # dict_data['tt'+id] = pull_data(movie = m_, keys_need = k_n)

In [15]:
def kickstart_api(id_series): #NEW VERSION
    k_n = [
        'box office',
        'producers',
        'composers',
        'cinematographers',
        'editors',
        'production companies',
    ]

    
    return iterating_pull(id_series)

In [19]:
def kickstart_api(id_s): #ORIGINAL
    dict_data = {}
    k_n = [
        'box office',
        'producers',
        'composers',
        'cinematographers',
        'editors',
        'production companies',
    ]

    for i, id in enumerate(id_s):
        print(i)

        ia = IMDb()
        m_ = ia.get_movie(id)
        dict_data['tt'+id] = delayed(pull_data)(m_, k_n)
    return dict_data

In [20]:
def pull_data(movie,keys_need):
    data ={}

    for key in keys_need:
        # print(key)
        if len(key.split(' ')) >= 2 :
            key = '_'.join(key.split(' '))
        
        try:
            if key == 'box office':

                for dict_key in movie[key].keys():

                    if dict_key == 'budget':
                    
                        # print({'box_ofice_'+dict_key.lower():movie[key][dict_key]})
                        # print('')
                        data['box_ofice_'+dict_key.lower()] = movie[key][dict_key]

                    else:

                        joined = '_'.join(dict_key.split(' '))

                        # print({'box_ofice_'+joined.lower():movie[key][dict_key]})
                        # print('')
                        data['box_ofice_'+joined.lower()] = movie[key][dict_key]

            else:
                list_test = []
                for obj in movie[key]:
                        list_test.append(obj['name'])
                # print({key:list_test})
                # print('')

                data[key] = list_test

        except:
            if key == 'box office':
                # print({'box_office':0})
                # print('')
                for dict_key in ['budget', 'opening_weekend_united_states', 'cumulative_worldwide_gross']:

                    data['box_ofice_'+dict_key] = np.nan

            else:
                # print({key:np.nan})
                # print('')
                data[key] = np.nan
    return data

In [185]:
ia = IMDb()
ind_ = '0133093' #The Matrix
movie = ia.get_movie(ind_)

data ={}

for key in keys_need:
    print(key)
    if len(key.split(' ')) >= 2 :
        key = '_'.join(key.split(' '))
    
    try:
        if key == 'box office':

            # print({'box_office':movie[key]})
            # print('')

            # list_test_1 = []

            for dict_key in movie[key].keys():

                if dict_key == 'budget':
                
                    print({'box_ofice_'+dict_key.lower():movie[key][dict_key]})
                    print('')
                    data['box_ofice_'+dict_key.lower()] = movie[key][dict_key]

                else:

                    joined = '_'.join(dict_key.split(' '))

                    print({'box_ofice_'+joined.lower():movie[key][dict_key]})
                    print('')
                    data['box_ofice_'+joined.lower()] = movie[key][dict_key]

        else:
            list_test = []
            for obj in movie[key]:
                    list_test.append(obj['name'])
            print({key:list_test})
            print('')

            data[key] = list_test

    except:
        if key == 'box office':
            print({'box_office':0})
            print('')
            for dict_key in ['budget', 'opening_weekend_united_states', 'cumulative_worldwide_gross']:

                data['box_ofice_'+dict_key] = np.nan

        else:
            print({key:np.nan})
            print('')
            data[key] = np.nan

box office
{'box_office': nan}

producers
{'producers': ['Bruce Berman', 'Dan Cracchiolo', 'Carol Hughes', 'Andrew Mason', 'Richard Mirisch', 'Barrie M. Osborne', 'Joel Silver', 'Erwin Stoff', 'Lana Wachowski', 'Lilly Wachowski']}

composers
{'composers': ['Don Davis']}

cinematographers
{'cinematographers': ['Bill Pope']}

editors
{'editors': ['Zach Staenberg']}

production companies
{'production_companies': nan}

In [188]:
data

{'box_office': nan,
 'producers': ['Bruce Berman',
  'Dan Cracchiolo',
  'Carol Hughes',
  'Andrew Mason',
  'Richard Mirisch',
  'Barrie M. Osborne',
  'Joel Silver',
  'Erwin Stoff',
  'Lana Wachowski',
  'Lilly Wachowski'],
 'composers': ['Don Davis'],
 'cinematographers': ['Bill Pope'],
 'editors': ['Zach Staenberg'],
 'production_companies': nan}

In [168]:
# pd.DataFrame(data)

pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in data.items() ])).T

,0,1,2,3,4,5,6,7,8,9
box_ofice_budget,"$63,000,000 (estimated)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
box_ofice_opening weekend united states,"$27,788,331, 04 Apr 1999",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
box_ofice_cumulative worldwide gross,"$463,517,383",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
producers,Bruce Berman,Dan Cracchiolo,Carol Hughes,Andrew Mason,Richard Mirisch,Barrie M. Osborne,Joel Silver,Erwin Stoff,Lana Wachowski,Lilly Wachowski
composers,Don Davis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cinematographers,Bill Pope,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
editors,Zach Staenberg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
production companies,Warner Bros.,Village Roadshow Pictures,Groucho Film Partnership,Silver Pictures,3 Arts Entertainment,NaN,NaN,NaN,NaN,NaN

In [136]:
# ia = IMDb() #Created IMDb instance

# keys_need = ['box office', 'producers', 'composers', 'cinematographers', 'editors', 'production companies']

# ia = IMDb()
# ind_ = '0133093' #The Matrix
# movie = ia.get_movie(ind_)

# list_data = []
# for i, obj_ in enumerate(movie[keys_need[1]]):
#     print(movie[keys_need[1]][i]['name'])

# for dict_key in movie['box office'].keys():
#     print({'box office'+dict_key.lower():movie['box office'][dict_key]})

In [ ]:
client.close()