# Testing for imdb tools

## Import and creating class instance

In [1]:
import numpy as np
import re
import urllib.request as req 
import tarfile
import os
import zipfile
from collections import defaultdict

#new ones
import gzip
import csv
import pandas as pd
from imdb import IMDb
import re

## Testing

In [2]:
#URLs for data bases

name_basics_url = 'https://datasets.imdbws.com/name.basics.tsv.gz'

titles_akas_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'

title_basics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'

title_crew_url = 'https://datasets.imdbws.com/title.crew.tsv.gz'

title_episode_url = 'https://datasets.imdbws.com/title.episode.tsv.gz'

title_principals_url = 'https://datasets.imdbws.com/title.principals.tsv.gz'

title_ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

In [3]:
# Creating list of URLs needed for this analyisis

list_urls = [title_basics_url, title_crew_url, title_ratings_url, title_principals_url, name_basics_url]

In [4]:
def download_data(url): #Downloads and creates directories in the same directory as the file is located

    save_filename = re.split(pattern = '.com\/', string = url)[1]
    imdb_folder = 'data'
    tsv_filename = re.split(pattern = '.gz', string = save_filename)[0]
    # print(tsv_filename)

    if not os.path.exists(save_filename):
        req.urlretrieve(url, save_filename)
    

    if not os.path.exists(imdb_folder):
        os.mkdir(imdb_folder) 
        
            

    if not os.path.exists(imdb_folder + '/'+ tsv_filename):
        with gzip.GzipFile(save_filename) as tsv:
            tsv_read = pd.read_csv(tsv, sep='\t')
            with open(imdb_folder + '/'+ tsv_filename,'w') as write_tsv:
                write_tsv.write(tsv_read.to_csv(sep='\t', index=False))
                return tsv_read

    else:
         with gzip.GzipFile(save_filename) as tsv:
            tsv_read = pd.read_csv(tsv, sep='\t')
            return tsv_read

In [5]:
def kickstart_scrape(list_ = list_urls):
    list_tsv__df =[]
    for url in list_:
        print(url)
        list_tsv__df.append(download_data(url))
    return list_tsv__df

In [6]:
list_df = kickstart_scrape(list_urls)

https://datasets.imdbws.com/title.basics.tsv.gz
https://datasets.imdbws.com/title.crew.tsv.gz
https://datasets.imdbws.com/title.ratings.tsv.gz
https://datasets.imdbws.com/title.principals.tsv.gz
https://datasets.imdbws.com/name.basics.tsv.gz

In [7]:
list_df[0]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
6724395,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
6724396,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
6724397,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
6724398,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
6724399,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family"

In [8]:
list_df[1]

            tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
6724395  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
6724396  tt9916850  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
6724397  tt9916852  nm5519375,nm5519454  nm6182221,nm1628284,nm2921377
6724398  tt9916856           nm10538645                      nm6951431
6724399  tt9916880            nm0996406            nm1482639,nm2586970

[6724400 rows x 3 columns]

In [9]:
list_df[2]

            tconst  averageRating  numVotes
0        tt0000001            5.6      1605
1        tt0000002            6.0       197
2        tt0000003            6.5      1278
3        tt0000004            6.1       121
4        tt0000005            6.1      2043
...            ...            ...       ...
1026539  tt9916576            6.0         9
1026540  tt9916578            8.4        17
1026541  tt9916720            5.6        49
1026542  tt9916766            6.8        13
1026543  tt9916778            7.2        21

[1026544 rows x 3 columns]

In [10]:
list_df[3]

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N
...,...,...,...,...,...,...
38813071,tt9916880,5,nm0996406,director,principal director,\N
38813072,tt9916880,6,nm1482639,writer,\N,\N
38813073,tt9916880,7,nm2586970,writer,books,\N
38813074,tt9916880,8,nm1594058,producer,producer,\N
38813075,tt9916880,9,nm1052583,actress,\N,"[""Mum"",""Tidy Ted"",""Fang""]"

In [11]:
list_df[4]

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0043044,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0038355,tt0117057,tt0071877"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0054452,tt0059956,tt0057345,tt0049189"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0078723,tt0080455,tt0077975,tt0072562"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0083922,tt0060827,tt0050986"
...,...,...,...,...,...,...
10022855,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department",tt2455546
10022856,nm9993716,Essias Loberg,\N,\N,NaN,\N
10022857,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
10022858,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
10022859,nm9993719,Andre Hill,\N,\N,NaN,\N

In [85]:
def tt_idnum_plus(tsv_df, start_year = 2000, end_year = 2019, list_col = ['tconst']):
    df_ = tsv_df[(tsv_df['startYear'].apply(lambda x: int(x) if x != '\\N' else 0) >= start_year) & (tsv_df['startYear'].apply(lambda x: int(x) if x != '\\N' else 0) <= end_year) & (tsv_df['titleType'] == 'movie')] #[list_col]
    return df_

In [26]:
df_idnum = tt_idnum_plus(list_df[0])

In [27]:
df_idnum.reset_index(drop = True, inplace = True)

In [78]:
first_merge = pd.merge(left=df_idnum, right=list_df[1], left_on='tconst', right_on='tconst')

In [70]:
list_columns_change = ['genres', 'directors', 'writers']

In [80]:
def clean_col_content(df, columns):
    for i in columns:
        df[i] = df[i].apply(lambda x: x.split(','))
        df[i] = pd.DataFrame(first_merge[i].values.tolist(), index= df.index)[0] # gets first value in list
        if i != 'genres':
            df[i] = df[i].map(list_df[4].set_index('nconst')['primaryName']) # replaces ids with actual names

In [81]:
clean_col_content(first_merge, list_columns_change)

In [98]:
def prep_df(df):
    df = df[df['isAdult'] == 0]
    df = df.drop(columns = ['tconst', 'titleType', 'originalTitle', 'isAdult', 'startYear', 'endYear'])

In [99]:
prep_df(first_merge)

In [90]:
first_merge.drop(columns = ['tconst', 'titleType', 'originalTitle', 'isAdult', 'startYear', 'endYear'])

,primaryTitle,runtimeMinutes,genres,directors,writers
0,Frivolinas,80,Comedy,Arturo Carballo,NaN
1,Kate & Leopold,118,Comedy,James Mangold,Steven Rogers
2,The Woman with the Knife,80,Drama,Bassori Timite,Bassori Timite
3,The Other Side of the Wind,122,Drama,Orson Welles,Orson Welles
4,Sabse Bada Sukh,\N,Comedy,Hrishikesh Mukherjee,Gulzar
...,...,...,...,...,...
227492,Rodolpho Teóphilo - O Legado de um Pioneiro,57,Documentary,Ana Célia de Oliveira,Angela Gurgel
227493,De la ilusión al desconcierto: cine colombiano...,100,Documentary,Luis Ospina,Luis Ospina
227494,Dankyavar Danka,\N,Comedy,Kanchan Nayak,Sudhir Nikam
227495,6 Gunn,116,\N,Kiran Gawade,Kiran Gawade
227496,Chico Albuquerque - Revelações,49,Documentary,Angela Gurgel,Vinicius Augusto Bozzo

In [100]:
first_merge

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,writers
0,tt0016906,movie,Frivolinas,Frivolinas,0,2014,\N,80,Comedy,Arturo Carballo,NaN
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,Comedy,James Mangold,Steven Rogers
2,tt0064322,movie,The Woman with the Knife,La femme au couteau,0,2010,\N,80,Drama,Bassori Timite,Bassori Timite
3,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,\N,122,Drama,Orson Welles,Orson Welles
4,tt0069204,movie,Sabse Bada Sukh,Sabse Bada Sukh,0,2018,\N,\N,Comedy,Hrishikesh Mukherjee,Gulzar
...,...,...,...,...,...,...,...,...,...,...,...
227492,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,\N,57,Documentary,Ana Célia de Oliveira,Angela Gurgel
227493,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,\N,100,Documentary,Luis Ospina,Luis Ospina
227494,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy,Kanchan Nayak,Sudhir Nikam
227495,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,\N,Kiran Gawade,Kiran Gawade
227496,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,\N,49,Documentary,Angela Gurgel,Vinicius Augusto Bozzo

In [ ]:
hello