# Neural Netork Tools

## Imports

In [1]:
import numpy as np 
import csv
import pandas as pd

#NN ones
import tensorflow.keras as keras
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [2]:
np.random.RandomState(seed = 13)

RandomState(MT19937) at 0x138883490

## Preprocessing

In [3]:
main_df = pd.read_csv('clean_data.csv')
main_df.drop(columns = 'Unnamed: 0', inplace = True)
main_df.dropna(subset = ['runtimeMinutes'], inplace = True)
main_df.reset_index(drop = True, inplace = True)
main_df.fillna(value = 'Unknown', inplace = True)

In [4]:
main_df

,primaryTitle,runtimeMinutes,genres,directors,writers,averageRating,numVotes
0,Frivolinas,80.0,Comedy,Arturo Carballo,Unknown,5.6,15
1,Kate & Leopold,118.0,Comedy,James Mangold,Steven Rogers,6.4,76677
2,The Woman with the Knife,80.0,Drama,Bassori Timite,Bassori Timite,6.5,11
3,The Other Side of the Wind,122.0,Drama,Orson Welles,Orson Welles,6.8,5469
4,The Naked Monster,100.0,Comedy,Ted Newsom,Ted Newsom,5.5,250
...,...,...,...,...,...,...,...
114920,Albatross,97.0,Documentary,Chris Jordan,Chris Jordan,8.2,23
114921,9/11: Escape from the Towers,120.0,Documentary,Grace Chapman,Unknown,8.4,37
114922,La vida sense la Sara Amat,74.0,Drama,Laura Jou,Coral Cruz,6.7,77
114923,Drømmeland,72.0,Documentary,Joost van der Wiel,Unknown,6.6,36
114924,Kuambil Lagi Hatiku,123.0,Drama,Azhar Kinoi Lubis,Arief Ash Siddiq,8.4,5

In [5]:
main_df.numVotes.describe().apply(lambda x: format(x, 'f'))

count     114925.000000
mean        4785.097350
std        37203.975544
min            5.000000
25%           17.000000
50%           71.000000
75%          405.000000
max      2195241.000000
Name: numVotes, dtype: object

As we can see, the number of ratings is skewed towards a lower amount of votes. These ratings with lower amount of votes might not be good for the analysis since most likely is not enough to be a good assesment of the ratings. I will make a cutoff at the 50th percentile in order to eliminate that problem.

In [6]:
cutoff_50th_df = main_df[main_df['numVotes'] >= 71].reset_index(drop = True)
cutoff_50th_df.numVotes.describe().apply(lambda x: format(x, 'f'))

count      57712.000000
mean        9505.572654
std        52072.703031
min           71.000000
25%          159.000000
50%          402.000000
75%         1551.000000
max      2195241.000000
Name: numVotes, dtype: object

In [7]:
cutoff_50th_df

,primaryTitle,runtimeMinutes,genres,directors,writers,averageRating,numVotes
0,Kate & Leopold,118.0,Comedy,James Mangold,Steven Rogers,6.4,76677
1,The Other Side of the Wind,122.0,Drama,Orson Welles,Orson Welles,6.8,5469
2,The Naked Monster,100.0,Comedy,Ted Newsom,Ted Newsom,5.5,250
3,Crime and Punishment,126.0,Drama,Menahem Golan,Fyodor Dostoevsky,5.8,618
4,The Wandering Soap Opera,80.0,Comedy,Valeria Sarmiento,Pía Rey,6.7,227
...,...,...,...,...,...,...,...
57707,Pengalila,111.0,Drama,T.V. Chandran,T.V. Chandran,8.8,550
57708,Manoharam,122.0,Comedy,Anvar Sadik,Unknown,6.9,318
57709,Padmavyuhathile Abhimanyu,130.0,Drama,Vineesh Aaradya,Vineesh Aaradya,8.0,263
57710,Sokagin Çocuklari,98.0,Drama,Ahmet Faik Akinci,Ahmet Faik Akinci,6.2,196
57711,La vida sense la Sara Amat,74.0,Drama,Laura Jou,Coral Cruz,6.7,77

## Creating encoder

In [19]:
# creating instance of one-hot-encoder
enc = preprocessing.OneHotEncoder(handle_unknown='ignore')

# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(cutoff_50th_df[['directors_Cat']]).toarray())

# merge with main df bridge_df on key values
bridge_df = cutoff_50th_df.join(enc_df)
bridge_df

In [ ]:
def onehot_Dum_Encode(df):
    # creating instance of one-hot-encoder
    enc = OneHotEncoder(handle_unknown='ignore')

    # passing bridge-types-cat column (label encoded values of bridge_types)
    enc_df = pd.DataFrame(enc.fit_transform(bridge_df[['Bridge_Types_Cat']]).toarray())
    
    # merge with main df bridge_df on key values
    bridge_df = bridge_df.join(enc_df)